/* ********** REGOLE GENERALI ********** */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
}

body {
    background-color: black;
    color: white;
}

img{
    display: block;
 }


/* ********** MAIN ********** */
main {
    margin-top: 100px;
}

.container {
    flex-wrap: wrap;
    justify-content: center;
    height: calc(100vh - 174px);
    overflow: auto;
}

.cam {
    margin: 3px;
    position: relative;
}

.speacker-view {
    position: absolute;
    top: 5px;
    right: 5px;
    gap: 10px;
}

.speacker-view>* {
    background-color: rgba(232, 232, 232, 0.5);
    padding: 5px 5px;
    border-radius: 5px;
    cursor: pointer;
}

.image {
    position: relative;
}
.user {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgba(232, 232, 232, 0.559);
}

/* ********** FINE MAIN ********** */

/* ********** FOOTER ********** */

.main-nav.flex {
    background-color: #222222;
    justify-content: space-between;
    position: relative;
}

.nav-list {
    padding: 15px 0;
}

.nav-list>* {
    cursor: pointer;
}

.nav-button.flex {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-left: 10px;
}

.green {
    color: #48C800;
}

p {
    padding: 0 15px;
    color: red;
    background-color: #4a4a4a;
    height: 100%;
    align-items: center;
    cursor: pointer;
}
